        .container {
            max-width: 1200px;
            margin: auto;
        }
        
        body {
            font-family: Arial;
            font-size: 15px;
            background-color: #fff;
        }
        
        header {
            padding: 60px 0;
            position: absolute;
            width: 100%;
            margin: auto;
            background-color: rgb(37, 16, 0, 0);
            z-index: 2;
        }
        
        .flex-parent {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        nav ul {
            display: flex;
            list-style: none;
        }
        
        nav ul li {
            margin-left: 35px;
        }
        
        .logo a {
            font-family: Georgia;
            font-size: 32px;
            text-decoration: none;
            color: #F1CDB3;
        }
        
        .logo p {
            font-size: 13px;
            color: #FFFFFF;
            letter-spacing: 0.06em;
        }
        
        nav a {
            text-decoration: none;
            color: #CDCDCD;
            display: block;
            padding-bottom: 4px;
        }
        
        .active {
            border-bottom: 3px solid #FAFAFA;
            color: #FAFAFA;
        }
        
        nav a:hover {
            color: #FAFAFA;
        }
        
        .menu {
            display: none;
        }
        
        .blok-one-img {
            padding-top: 180px;
            background-image: linear-gradient(90.26deg, #7D604B 0.23%, #251000 99.8%);
        }
        
        .parent-puppy {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        .start-screen-puppy {
            width: 698px;
            height: 728px;
        }
        
        .blok-one-img h1 {
            font-family: 'Georgia';
            font-weight: 400;
            font-size: 44px;
            line-height: 130%;
            color: #FFFFFF;
            margin-bottom: 42px;
            max-width: 310px;
        }
        
        .blok-one-img p {
            line-height: 160%;
            color: #CDCDCD;
            margin-bottom: 41px;
            max-width: 460px;
        }
        
        .button {
            display: inline-block;
            padding: 15px 45px;
            background-color: #F1CDB3;
            text-decoration: none;
            font-family: 'Georgia';
            font-size: 17px;
            line-height: 130%;
            letter-spacing: 0.06em;
            color: #292929;
            border-radius: 100px;
        }
        
        .button:hover {
            background-color: #FDDCC4;
        }
        
        main section {
            padding: 80px 0 100px;
        }
        
        .about-the-shelter {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .about-the-shelter img {
            width: 300px;
            height: 408px;
            margin-right: 126px;
        }
        
        .text-about-the-shelter {
            max-width: 430px;
        }
        
        .text-about-the-shelter p {
            margin-top: 25px;
            line-height: 160%;
            color: #4C4C4C;
        }
        
        h2 {
            font-weight: normal;
            font-family: 'Georgia';
            font-size: 35px;
            line-height: 130%;
            letter-spacing: 0.06em;
            color: #545454;
        }
        
        .background-gray {
            background-color: #F6F6F6;
        }
        
        .our-friends h2 {
            text-align: center;
            max-width: 400px;
            margin: auto;
        }
        
        .strelka-back {
            width: 52px;
            height: 52px;
            border-radius: 50%;
            border: 2px solid #F1CDB3;
            background-image: url(../img/rrow.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-color: #F6F6F6;
        }
        
        .strelka-next {
            width: 52px;
            height: 52px;
            border-radius: 50%;
            border: 2px solid #F1CDB3;
            background-image: url(../img/arrow.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-color: #F6F6F6;
        }
        
        .strelka-next:hover,
        .strelka-back:hover {
            background-color: #FDDCC4;
        }
        
        .sections-our-friends {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 60px 0;
        }
        
        .flex-parent-kartochki {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-basis: 990px;
        }
        
        .flex-parent-kartochki div {
            background-color: #FAFAFA;
            text-align: center;
        }
        
        .flex-parent-kartochki p {
            margin-top: 30px;
            font-family: 'Georgia';
            font-weight: 400;
            font-size: 20px;
            line-height: 23px;
            letter-spacing: 0.06em;
            color: #545454;
        }
        
        .flex-parent-kartochki a {
            text-decoration: none;
        }
        
        .flex-parent-kartochki div:hover {
            background-color: #fff;
        }
        
        .flex-parent-kartochki .knopka {
            display: inline-block;
            border: 2px solid #F1CDB3;
            border-radius: 100px;
            padding: 15px 45px;
            font-family: 'Georgia';
            font-weight: 400;
            font-size: 17px;
            line-height: 130%;
            letter-spacing: 0.06em;
            color: #292929;
            margin-bottom: 30px;
        }
        
        .flex-parent-kartochki .knopka:hover {
            background-color: #FDDCC4;
        }
        
        .to-know {
            text-align: center;
        }
        
        .icons-how-ou-can-help {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        
        .icons {
            margin: 55px 60px 0;
            text-align: center;
        }
        
        .how-ou-can-help h2 {
            text-align: center;
            max-width: 308px;
            margin: auto;
            margin-bottom: 5px;
        }
        
        .icons p {
            margin-top: 30px;
            text-align: center;
            font-family: 'Georgia';
            font-weight: 400;
            font-size: 20px;
            letter-spacing: 0.06em;
            color: #545454;
        }
        
        .icons img {
            margin: auto;
        }
        
        .donation {
            display: flex;
            align-items: center;
        }
        
        .donation img {
            width: 505px;
            height: 261px;
            margin: 0 30px 0 142px;
        }
        
        .text-donation {
            max-width: 380px;
        }
        
        .text-donation p {
            margin-top: 20px;
            font-family: 'Georgia';
            font-weight: 400;
            font-size: 15px;
            letter-spacing: 0.06em;
            color: #545454;
        }
        
        .text-donation .italic-text-donation {
            font-family: 'Arial';
            font-style: italic;
            font-size: 12px;
            line-height: 18px;
            color: #B2B2B2;
        }
        
        .text-donation .number-card {
            background-color: #F1CDB3;
            border-radius: 9px;
            padding: 10px 15px;
            font-size: 20px;
            text-align: center;
            vertical-align: middle;
        }
        
        .number-card::before {
            content: '';
            background-image: url(../img/credit-card.svg);
            display: inline-block;
            width: 30px;
            height: 23px;
            margin-right: 15px;
            vertical-align: middle;
        }
        
        .footer-flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 40px;
            flex-wrap: wrap;
        }
        
        footer {
            background-image: linear-gradient(90.26deg, #7D604B 0.23%, #251000 99.8%);
        }
        
        footer img {
            width: 300px;
            height: 310px;
        }
        
        footer h3 {
            font-family: 'Georgia';
            font-weight: 400;
            font-size: 35px;
            line-height: 130%;
            letter-spacing: 0.06em;
            color: #FFFFFF;
        }
        
        .inf-footer-right,
        .inf-footer-left {
            min-height: 234px;
            width: 302px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        
        footer p,
        footer p a {
            font-family: 'Georgia';
            font-weight: 400;
            font-size: 20px;
            line-height: 115%;
            letter-spacing: 0.06em;
            color: #F1CDB3;
        }
        
        footer p a {
            text-decoration: none;
        }
        
        .mail {
            background-image: url(../img/icon-email.svg);
            background-repeat: no-repeat;
            background-position-y: center;
            padding: 7px 0 7px 55px;
        }
        
        .tel {
            background-image: url(../img/icon-phone.svg);
            background-repeat: no-repeat;
            background-position-y: center;
            padding: 7px 0 7px 55px;
        }
        
        .adress {
            background-image: url(../img/icon-marker.svg);
            background-repeat: no-repeat;
            background-position-y: center;
            padding: 7px 0 7px 37px;
        }
        
        @media (max-width:1220px) {
            .container {
                max-width: 95%;
            }
            .flex-parent-kartochki {
                flex-basis: 85%;
            }
            .icons {
                width: 20%;
            }
            .donation {
                flex-direction: column;
            }
            .text-donation {
                text-align: center;
                margin-top: 20px;
                max-width: 505px;
            }
            .donation img {
                margin: 0;
            }
        }
        
        @media (max-width:1058px) {
            .start-screen-puppy {
                display: none;
            }
            .blok-one-img {
                padding-bottom: 100px;
            }
            .blok-one-img h1 {
                max-width: 85%;
            }
            .blok-one-img p {
                max-width: 80%;
            }
            .about-the-shelter img {
                margin-right: 30px;
            }
            .flex-parent-kartochki div:last-child {
                display: none;
            }
            .flex-parent-kartochki {
                justify-content: space-around;
            }
            .icons {
                width: 20%;
            }
        }
        
        @media (max-width:1014px) {
            .footer-flex {
                justify-content: center;
            }
            .footer-flex div:first-child {
                margin-right: 60px;
            }
            footer img {
                margin-top: 40px;
            }
        }
        
        @media (max-width:720px) {
            .flex-parent-kartochki div:nth-child(2) {
                display: none;
            }
            header nav {
                display: none;
            }
            .menu {
                display: block;
            }
            .about-the-shelter {
                flex-direction: column;
                text-align: center;
            }
            .about-the-shelter img {
                margin-right: 0;
            }
            .text-about-the-shelter {
                margin-top: 20px;
            }
            .icons {
                width: 30%;
            }
            .footer-flex {
                flex-direction: column;
            }
            .footer-flex div:first-child {
                margin-right: 0;
            }
            .footer-flex div:nth-child(2) {
                margin-top: 40px;
            }
        }
        
        @media (max-width:420px) {
            .blok-one-img h1 {
                font-size: 32px;
            }
            .strelka-back {
                order: 1;
            }
            .strelka-next {
                order: 2;
            }
            .sections-our-friends {
                flex-wrap: wrap;
            }
            .flex-parent-kartochki {
                flex-basis: 100%;
                margin-bottom: 20px;
            }
            .sections-our-friends {
                justify-content: space-around;
            }
            .icons {
                width: 45%;
                margin-left: 20px;
                margin-right: 20px;
            }
            .text-donation .number-card {
                font-size: 14px;
            }
            .donation img {
                display: none;
            }
            footer h3 {
                text-align: center;
            }
        }